.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  background-color: #333;
  margin-top: 20px;
  padding: 13px 20px;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.btn-dark {
  background-color: #333;
  color: #f4f4f4;
}
